.prod-info h3,
.prod-info h4{
    font-size: 1.3rem;
}

.prod-info h3{
    margin: 0 0 1rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.prod-info {
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
}

.prod-info-type{
    text-align: right;
    font-size: 1.7rem;
}


