html,
body {
    height: 100%;
}

.panel {
    font-size: 12px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.widget-stats .stats-icon {
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-left: 15px;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.direct-chat-warning1 .right>.direct-chat-text1 {
    background: #3c8dbc !important;
    border-color: #3c8dbc !important;
    color: #fff;
}

.details-affiliate .row{
    padding: 8px 0px;
}

/*GeneralReport*/
.general-stat{
    padding-bottom: 3rem;
}
.indicator{
    display: flex;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 2px 2px #e8ecf2;
    margin-bottom: 1rem;
    width: 100%;
}

.indicator-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 100%;
    color: white;
}

.count-akk{
    background-color: #53beea;
}

.sent-msg{
    background-color: #cd5542;
}

.dispatch-rate{
    background-color: #49a361;
}

.active-recipients{
    background-color: #e89f3c;
}

.indicator-text{
    margin: 0.5rem 0 0.5rem 1rem;
    text-transform: uppercase;
}

.indicator-text span{
    font-weight: bold;
    font-size: 2rem;
    text-transform: none;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'] {
    margin:-.2px; /* hack adjust for wrapping */
}

/*Форма добавления аккаунта*/
.input-group-btn {
    vertical-align: bottom;
}

li .fa-2x {
    font-size: 1.5em;
}

.select2-selection .select2-search__field {
    width:100% !important;
}

.tab-content {
    padding: 2rem 1rem;
    border: 1px solid #d2d6de;
    border-top: none;
}

/*Joli theme*/
.navbar-static-top {
    background: #1b1e24 !important;
    /*background-color: rgb(28, 175, 154);*/
}

.main-header .logo {
    background-color: #1caf9a !important;
}

.main-sidebar {
    background-color: #1b1e24 !important;
}

.sidebar-menu>.active>a  {
    background: #1caf9a !important;
}

.panel-heading, .btn-primary {
    background-color: #1caf9a !important;
    color: white !important;
}

/*Форма добавление ответа бота*/
.answers {
    display: flex;
    align-items: center;
}

.chk-noanswer {
    display: flex;
    align-items: center;
}

.chk-noanswer label {
    font-weight: 300 !important;
}