.slider {
    width: 75%;
    float: left;
    height: 100vh;
    overflow: hidden;
}

.login-box, .register-box {
    float: left;
    width: 25% !important;
    height: 100vh;
    margin: 0 !important;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.login-box-body, .register-box-body {
    background: none !important;
}

.login-logo, .register-logo {
    margin-top: 25%;
    z-index: 1;
    position: relative;
}

.login-box-msg, .register-box-msg {
    z-index: 1;
    position: relative;
    color: #fff;
}

.login-logo a b, .register-logo a b, .register-logo a {
    color: #fff !important;
}

.login-carousel {
    height: 100%;
}

.login-carousel .owl-item {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item-body {
    width: 100%;
}

.owl-stage {
    height: 100%;
}

.owl-stage-outer {
    height: 100%;
}

.item-image {
    object-fit: cover;
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: #000;
    opacity: 0.3;
}

.item-text-content {
    color: #fff;
    display: block;
    position: absolute;
    left: 6%;
    top: 28%;
    max-width: 700px;
}

.item-text-content h2 {
    color: #fff;
    font-size: 50px;
}

.item-text-content p {
    font-size: 15px;
}

.owl-nav, .owl-dots {
    display: none;
}